* {
    margin: 0;
    padding: 0;
} 

body {
    background-image: linear-gradient(81deg, #ddb35f, #7409c7);
    height: 100vh;
    background-size: cover;
}

.welcome {
    background-color: rgba(94, 23, 187, 0.685);
    height: 4%;
    width: 100%;
    font-size: 26px;
    padding-top: 1%;
    position: fixed;
}

a {
    background-color: hsla(305, 86%, 34%, 0.747);
    color: rgb(78, 102, 206);
    border-radius: 20%;
}