.centralldiv {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
 }

 .maininfo {
    background-color: #8ADECC;
    width: 60vw;
    margin: 5%;

    border: dashed #DEA4A2;
    border-radius: 2vw;

    padding: 1vw;
 }

 .search {
    width: 20vw;

    margin: 5%;

    display: flex;
    flex-direction: column;
 }

 .m-ico {
    background-color: #FEF3D4;

    padding: 1vw;

    border: dashed #DEA4A2;
    border-radius: 2vw;
 }
 
 .dirs {
    background-color: #FEF3D4;

    padding: 1vw;

    border: dashed #DEA4A2;
    border-radius: 2vw;
 }

 .contacts {
    font-size: small;

    background-color: #FEF3D4;

    padding: 2vw;

    border: dashed #DEA4A2;
    border-radius: 2vw;
 }

 .contacts-a {
    font-size: 2vh;
 }

 .contacts-in {
    font-size: 2vh;
 }

 .contacts-img {
    height: 2vh;
 }

 .mine-ico {
    width: 15vw;

    border-radius: 50%;
 }
